<div class="footer">
  <div class="footer-links">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="/cups/new"><i class="fa-solid fa-plus"></i></a>
    <a href="/cups"><i class="fas fa-magnifying-glass"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa-solid fa-mug-hot"></i> Cup to Go
  </div>
</div>
