<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/ba/e9/34/bae934cce8064ca80c07244eac5dc6c3.jpg);">
  <div class="container">
    <h1><strong>Cup Rental</strong></h1>
    <p>Rent a cup or put up your cup for rent end enjoy!</p>
    <a class="btn btn-flat" href="#"><i class="fa-solid fa-plus"></i> Create a cup  </a> <a class="btn btn-flat" href="/cups"><i class="fas fa-magnifying-glass"></i> Find a Cup</a>
  </div>
</div>
