.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #3b2b12;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #070502;
  color: white;
}

.primary {
  background: #3A220B
}

.secondary {
  background: #664A1D
}

.tertiary {
  background: #aa7e50
}
